
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
}


#custom-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }